section,header,article,nav{
	display: block;
}
*{
	padding: 0;
	margin: 0;
}
body{
	margin: 16px 15%;
	background-image: url();
	background-attachment: fixed;/*规定背景是否随内容滚动*/
	background-position: top left;
	background-repeat: repeat-x;
	max-width:70%;
	color: #fb5;
	background-color: #334; 
}
header{
	background-image: url();
	background-position: bottom right;
	background-repeat: no-repeat;
	border-width: 1.6px;
	border-style: solid;
	border-bottom-width: 0;
	color: #ec8;
	background-color: #334;
	border-color: #667;
}
header nav{
	background-image: url();
	background-position: bottom right;
	background-repeat: no-repeat;
	border-width: 1.6px;
	border-style: solid;
	border-bottom-width: 0;
	border-top-width: 0;
	padding-left: 10%;
	color: #455;
	background-color: #789;
	border-color: #667;
}
header nav ul{
	width: 100%;
	overflow: hidden;
	border-left-width: 1.6px;
	border-left-style: solid;
	border-color: #99a;
}
header nav ul li{
	display: inline;
}
header nav ul li a{
	display: block;
	float: left;
	padding: 8px 32px;
	border-right: 1.6px solid;

}
a:link{
	color: #445;
	background-color: #eb6;
}
a:visited{
	color: #345;
	background-color: #eb6;
}
a:hover{
	color: #667;
	background-color: #fb5;
}
a:active{
	color: #778;
	background-color: #ec8;
}
article{
	border-width: 1.6px;
	border-style: solid;
	border-top-width: 0;
	padding: 32px 10%;
	line-height: 28.8px;
	color: #223;
	background-color: #edc;
	border-color: #667;
}
article img{
	border-width: 1.6px;
	border-style: solid;
	outline-width: 1.6px;
	outline-style: solid;
	border-color: #ba9;
	outline-color: #dcb; 
}
header nav a:link,header nav a:visited{
	color: #eef;
	background-color: transparent;/*透明*/
	border-color: #99a;
}
header nav a:hover{/*hover必须位于link和visit之后才能生效(如果存在的话)*/
	color: #445;
	background-color: #eb6;
}
header nav a:active{
	color: #667;
	background-color: #ec8;
}